*{
  margin : 0px;
}
header{
    background-color: #dfe6e9;
}
.fisrtpartheader{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #b2bec3;
      height: 100px;
}
.secondpartheader{
  display: flex;
  justify-content: space-around;
  margin-right: 15%;
  margin-left: 15%;
}
